{% extends "base.html" %}

{% block head %}
    <title>情報登録</title>
    <link rel="stylesheet" href="/static/css/main/upload.css">
    <script src="/static/js/main/upload.js"></script>
{% endblock %}

{% block body %}
    <header>
        <h1>Upload</h1>
        <nav>
        </nav>
    </header>

    <main>
        <div>
            <form>
                <div class="upload">
                    <label>
                        <input type="file" webkitdirectory mozdirectory>Select File
                    </label>
                    <div class="file-list">
                        <p>NO FILE CHOSEN</p>
                    </div>
                </div>
                <input type="submit" value="送信する">
                <input type="reset" value="リセットする">
            </form>
        </div>
    </main>
{% endblock %}
