@import "/static/css/wide.css";

table {
    width: 100%;
}

table td, table th {
    border: none;
    background-color: transparent;
}

table tr td {
    border-bottom: var(--border) 1px solid;
    background-color: var(--bg);
}

table tr:first-child th {
    border-top: var(--border) 2px solid;
    border-bottom: var(--border) 2px solid;
    background-color: var(--accent-bg);
}

table tr:last-child td {
    border-bottom: var(--border) 2px solid;
}

//table {
//    display: flex;
//    flex-direction: column;
//}

//.row {
//    margin-bottom: 20px;
//    display: grid;
//    grid-auto-flow: column;
//    align-items: center;
//    gap: 10px;
//}

//
//.cell.name {
//    font-weight: bold;
//    grid-area: a;
//}
//
//.cell.permission {
//    grid-area: b;
//}
//
//.cell.mail {
//    grid-area: c;
//}

//.row-control {
////grid-area: d; display: flex; flex-direction: row; gap: 10px;
//    justify-content: end;
//}
//
//.row-control button {
//    width: 100px;
//}