/* warning */

.warning {
    color: red;
}

/* form */

form {
    display: flex;
    flex-direction: column;
}

form .input-item {
    display: flex;
    flex-direction: column;
}

form .input-item input {
    width: 100%;
}

form .input-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* buttons */

.buttons-stretch {
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    display: grid;
    align-items: stretch;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: end;
    padding-right: 1.5rem;
}

.buttons button {
    width: min(100%, 8rem);
}