/* TODO: upload input design */

.upload {
    padding: 10px;
    border: blue 1px solid;
    border-radius: 5px;
}

.upload .file-list {
    text-align: center;
}

.upload label {
    border: blue 1px solid;
    text-align: center;
    padding: 10px 40px;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}