{% if base_wide is not defined %}
    {% set base_wide = False %}
{% endif %}

{# TODO: import scripts by proper way #}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {# JQuery #}
    <script src="https://code.jquery.com/jquery-3.7.0.js"
            integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    {# simple.css #}
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
    {# base.css #}
    <link rel="stylesheet" href="/static/css/base.css">
    {# wide.css #}
    {% if base_wide %}
        {# TODO: unify usage of wide.css #}
        <link rel="stylesheet" href="/static/css/wide.css">
    {% endif %}
    {% block head %}
    {% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>